body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
}

.inner .active {
  color: #766357;
}
.size {
  width: 1200px;
  margin: auto;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, .2);
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.main-header-logo {
  width: 140px;
  height: 72px;
  position: absolute;
  left: 45%;
}

.main-image {
  text-align: center;
  background: url("../img/background-photo.jpg") 0 0;
  background-repeat: no-repeat;
  background-position-y: -56px;
  width: 1200px;
  height: auto;
}

.polygon {
  width: 1200px;
  height: 58px;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 56px;
  list-style: none;
  padding: 0 73px;
}

.site-navigation a{
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .menu-item {
  display: inline-flex;
  align-items: center;
  width: 240px;
}

.menu-item:nth-child(1) {
  justify-content: flex-start;
}
.menu-item:nth-child(2) {
  justify-content: flex-start;
  margin-right: auto;
}
.menu-item:nth-child(3) {
  justify-content: flex-end;
}
.menu-item:nth-child(4) {
  justify-content: flex-end;
}

.welcome-logo {
  display: inline-block;
  width: 459px;
  height: auto;
  margin-top: 76px;
  margin-bottom: 12px;
}

.introduction {
  line-height: 26px;
  background: url("../img/intro-background.png");
  background-repeat: no-repeat;
  padding: 61px 0 58px;
}

.introduction h2 {
  font-size: 21px;
  color: black;
  font-weight: bold;
  width: 440px;
  margin: auto ;
  margin-bottom: 27px;
}

.introduction p {
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  margin: 0 auto ;
}

.search {
  background: url("../img/intro-background.png") 0 0;
}

.search-item {
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.calendar {
  position: absolute;
  right: 55px;
}

.calendar path {
 fill: #cacaca;
}

.calendar:hover path,
.calendar:focus path{
  fill: #000000;
}

.calendar:focus{
  outline: none;
}

.calendar:active path {
  fill: #81b3d2;
}

.search-item .adults {
  margin-right: auto;
}

.search-item label {
  width: 112px;
  text-align: left;
  padding: 6px 0;
}

label.kids-label {
  width: 65px;
}

.long-horizontal {
  padding-bottom: 30px;
  text-transform: uppercase
}

.long-horizontal input {
  text-transform: uppercase;
  padding-left: 13px;
  box-sizing: border-box;
}

.short-horizontal .adults {
  margin-right: auto;
}

.count-button {
  padding: 0;
}

.search-item input {
  width: 346px;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  line-height: 26px;
  color: black;
  font-weight: bold;
}

.search-item input:focus {
  outline: none;
}

.search-item button {
  width: 38px;
  height: 38px;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  font-weight: 900;
}

.search-item button:focus {
  outline: none;
}

.search-item span {
  font-size: x-large;
  color: rgb(169,169,169);
}

.search-item span:hover,
.search-item span:focus {
  color: #000000;
}

.search-item span:active {
  color: #81b3d2;
  border: none;
}

.short-horizontal {
  display: inline-flex;
  margin-bottom: 54px;
  width: 100%;
}
.short-horizontal input {
  text-align: center;
  width: 38px;
  justify-content: space-between;
}

.into-form {
  font-size: 14px;
  line-height: 26px;
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 55px;
  display: inline-flex;
  flex-wrap: wrap
}

.into-form img {
  display: block;
}

.search-form-title {
  width: 434px;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 47px;
}

.search-button {
  width: 100%;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  border: none;
  color: #ffffff;
  background-color: #766357;
  padding: 0;
  text-transform: uppercase;
  outline: none;
}

.search-button:hover {
  background-color: #604e43;
}

.search-button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form {
  width: 568px;
  margin: 0 auto;
}

.search-form-title h2{
  font-size: 30px;
  line-height: 36px;
  color: black;
  font-weight: bold;
  margin: 0 0 24px;
}

.search-form-title p {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.search-form-modal {
  text-align: center;
  background: url("../img/intro-background.png") 0 0;
  position: absolute;
  width: 568px;
  height: 395px;
  margin: 0 316px;
}

.button {
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
  outline: none;
}

.button:hover {
  background-color: #669ec0;
}

.button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map{
  position: relative;
}

.map p {
  margin: 0;
}

.map img {
  display: block;
}

.index .main-footer {
  bottom: 0;
  margin-top: 78px;
  position: absolute;
}

.main-footer {
  background-color: #ffffff;
  padding: 36px 0;
  width: 1200px;
  opacity: 0.9;
  /* Временно для сетки -нужно авто*/
  /*height: 120px;*/
}



.main-footer .container {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus{
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-tag {
  width: 198px;
  text-align: center;
  /*margin: 14px 0;*/
}

.footer-tag b {
  font-size: 21px;
  line-height: 26px;
  color: black;
  font-weight: bold;
}
.footer-social {
  padding: 0;
}

.footer-social ul {
  width: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer-copyright {
  width: 198px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-copyright span {
  font-size: 14px;
  line-height: 26px;
  color: black;
  font-weight: normal;
  margin-right: 6px;
}
.footer-copyright svg {
  display: block;
}

.footer-copyright:hover path,
.footer-copyright:focus path{
  fill: #81b3d2;
}

.footer-copyright:active path{
  fill: #bdbbbc;
}

/* страница inner*/
.hotel-item {
  display: flex;
  padding: 30px 0;
  list-style: none;
  height: 90px;
  padding-left: 72px;
}

.hotel-item h4 {
  font-size: 21px;
  line-height: 26px;
  color: black;
  text-align: left;
  font-weight: bold;
  margin: 0;
}

.hotel-item-title {
  margin-top: -5px;
  margin-bottom: 5px;
}

.hotel-item-title:hover h4,
.hotel-item-title:focus h4 {
  color: #81b3d2;
}

.hotel-item-title:active h4 {
  color: rgba(0, 0, 0, 0.3);
}

.hotel {
  padding: 0;
  margin: 0;
}

.hotel-type {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  display: inline-flex;
  /*flex-direction: row;*/
  justify-content: space-between;
  /*width: 180px;*/
}

.hotel-item-category {
  width: 110px;
}

.hotel-item-price {
  width: 142px;
}

.hotel span {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: left;
  font-weight: normal;
  margin: 0;
}

.hotel-item-button a {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.hotel-item-button {
  margin-bottom: 0px;
  margin-top: 0px;
  display: inline-flex;
  justify-content: space-between;
  width: 258px;
}

.hotel-item-button a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /*width: 110px;*/
}

.style-button {
  height: 27px;
}

.detail {
  background-color: #81B3D2;
  width: 110px;
}

.detail:hover,
.detail:focus {
  background-color: #669ec0;
}

.detail:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.book {
  background-color: #766357;
  width: 142px;
}

.book:hover,
.book:focus {
  background-color: #604e43;
}

.book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.results-list {
  background-image: url("../img/inner-main-background.png");
}


.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 30px;
  margin-right: 73px;
  height: 90px;
}

.description-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rate {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hr {
  height: 1px; /* Высота блока */
  background: url("../img/hr.png");
}

.rate-number {
  width: 110px;
  background-color: #f2f2f2;
  height: 27px;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.into-form input:hover {
  background-color: #ebebeb;
}

.long-horizontal input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.short-horizontal input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  width: 34px;
  height: 34px;
}

.into-form {
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}


