body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
}

.inner .active {
  color: #766357;
}
.size {
  width: 1200px;
  margin: auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.main-header-logo {
  width: 140px;
  height: 72px;
}

.main-image {
  text-align: center;
  background: url("../img/background-photo.jpg") 0 0;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 56px;
  list-style: none;
}

.site-navigation a{
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .menu-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}

.menu-logo {
  display: block;
  text-align: center;
  width: 244px;
}

.welcome-logo {
  display: inline-block;
  width: 459px;
  height: auto;
  /*margin: auto;*/

}


.introduction {
  line-height: 26px;
  background: url("../img/intro-background.png") 0 0;
  padding: 58px 0;
}

.introduction h2 {
  font-size: 21px;
  color: black;
  font-weight: bold;
  width: 440px;
  margin: auto ;
  margin-bottom: 35px;
}

.introduction p {
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  margin: 0 auto ;
}

.search {
  text-align: center;
  background: url("../img/intro-background.png") 0 0;
}



.search-form-title {
  width: 434px;
  height: 96px;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
  padding-top: 53px;
  padding-bottom: 50px;
}

.search-button {
  width: 100%;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  border: none;
  color: #ffffff;
  background-color: #766357;
  padding: 0;
}

.search-button:hover {
  background-color: #604e43;
}

.search-button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form {
  width: 568px;
  margin: 0 auto;
}

.search-form-title h2{
  font-size: 30px;
  line-height: 36px;
  color: black;
  font-weight: bold;
  margin: 0;
}

.search-form-title p {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  font-weight: normal;
}

.search-form-modal {
  padding: 55px;
}

.button {
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
}

.button:hover {
  background-color: #669ec0;
}

.button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-footer {
  background-color: #000000;
  opacity: 0.9;
}

.footer-tag b {
  font-size: 21px;
  line-height: 26px;
  color: black;
  font-weight: bold;
}

.footer-social ul {
  list-style: none;
  /*padding: 0;*/
}

.footer-copyright span {
  font-size: 14px;
  line-height: 26px;
  color: black;
  font-weight: normal;
  margin-right: 6px;
}

.hotel-item {
  display: flex;
  padding: 30px 0;
  list-style: none;
}

.hotel-item h4 {
  font-size: 21px;
  line-height: 26px;
  color: black;
  text-align: left;
  font-weight: bold;

  margin: 0;
}

.hotel-item-title:hover h4,
.hotel-item-title:focus h4 {
  color: #81b3d2;
}

.hotel-item-title:active h4 {
  color: rgba(0, 0, 0, 0.3);
}

.hotel {
  padding-left: 72px ;
}

.hotel span {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: left;
  font-weight: normal;


  margin: 0;
}

.hotel-item-button a {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.hotel-item-button {
  margin-bottom: 0px;
  margin-top: 0px;
}

.style-button {
  padding: 6px 15px;
}

.detail {
  background-color: #81B3D2;
}

.detail:hover,
.detail:focus {
  background-color: #669ec0;
}

.detail:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.book {
  background-color: #766357;
}

.book:hover,
.book:focus {
  background-color: #604e43;
}

.book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.results-list {
  background-image: url("../img/inner-main-background.png");
}


.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 30px;
  margin-right: 73px;
}

.rate {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
/*сетка*/
/*header*/

/*footer*/
.main-footer .container {
  display: flex;
  padding-left: 130px;
}

.main-footer {
  background-color: #ffffff;
  padding: 36px 0;
  margin-top: 78px;
  /* Временно для сетки -нужно авто*/
  height: 120px;
}

.footer-tag {
  margin: 14px 0;
  margin-right: 254px;
}

.footer-social {
  padding: 0;
  width: 150px;
  margin-right: 226px;
}

.footer-copyright {
  margin-right: auto;
}





