body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
.size {
  width: 1200px;
  margin: auto;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.main-header {
  position: relative;
}

.main-header-logo {
  width: 140px;
  height: 72px;
  position: absolute;
  left: 530px;
  z-index: 1;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  min-height: 56px;
  list-style: none;
  padding: 0 73px;
}

.site-navigation a{
  color: #000000;
}

.site-navigation a:not(.active):hover,
.site-navigation a:focus {
  color: #81b3d2;
  outline: none;
}

.site-navigation a:not(.active):active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .menu-item {
  display: inline-flex;
  align-items: center;
  width: 240px;
  /*Center vertically  ie */
  display: -ms-flexbox;
  min-height: 56px;
}

.menu-item:nth-child(1) {
  justify-content: flex-start;
}
.menu-item:nth-child(2) {
  justify-content: flex-start;
  margin-right: auto;
}
.menu-item:nth-child(3) {
  justify-content: flex-end;
}
.menu-item:nth-child(4) {
  justify-content: flex-end;
}

/*main*/
.main-image {
  text-align: center;
  background: url("../img/background-photo.jpg") 0 0;
  background-color: #b3c2d8;
  background-repeat: no-repeat;
  background-position-y: -56px;
  width: 1200px;
  height: auto;
  position: relative;
}
.welcome-logo {
  display: inline-block;
  width: 459px;
  height: auto;
  margin-top: 76px;
  margin-bottom: 71px;
}

.polygon {
  position: absolute;
  bottom: -1px;
  left: 0;
}

.features ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.feature-item {
  list-style: none;
  height: 256px;
}

.feature-item  {
  display: flex;
}
/*первый раздел*/
.text {
  text-align: center;
  width: 400px;
  box-sizing: border-box;
  padding: 46px 60px 60px;
  color: #ffffff;
  background-color: #81b3d2;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.text h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin: 0;
}

.text span,
.text p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.text p {
  margin: 0;
}
/*второй раздел*/
.col {
  position: relative;
  width: 400px;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 82px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  height: 330px;
}

.col h3,
.col p {
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.col h3  {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 24px;
}

.col p  {
  font-size: 14px;
  color: #333333;
  text-align: center;
}

.col h3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 60px;
}

.house h3:before {
  background-image: url("../img/icon-1.svg");
  width: 75px;
  height: 72px;
  margin-left: -37px;
}

.food h3:before {
  background-image: url("../img/icon-3.svg");
  width: 74px;
  height: 70px;
  margin-left: -37px;
}

.burger h3:before {
  background-image: url("../img/icon-2.svg");
  width: 64px;
  height: 76px;
  margin-left: -32px;
}
/*третий раздел*/

.mountain {
  flex-direction: row-reverse;
}
.mountain-text {
  padding: 46px 48px 60px;
}
/*четвертый раздел*/
.grey {
  height: 256px;
  padding: 48px 65px 59px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.grey h3,
.grey p{
  margin: 0;
  padding: 0;
}

.grey h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
}
/*для ie*/
.third_reason,
.fourth_reason,
.fifth_reason {
  align-items: stretch;
}

.fifth_reason p {
  margin-left: 10px;
  margin-right: 10px;
}

.grey span,
.grey p{
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.introduction {
  text-align: center;
  line-height: 26px;
  background: url("../img/intro-background.png");
  background-repeat: no-repeat;
  padding: 61px 0 50px;
}

.introduction h2 {
  font-size: 21px;
  color: black;
  font-weight: bold;
  margin: auto ;
  margin-bottom: 27px;
}

.introduction p {
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  margin: 0 auto ;
}

.search {
  background: url("../img/intro-background.png") 0 0;
}

.search-item {
  display: flex;
  margin: 0;
  padding: 0;

}

.calendar {
  position: absolute;
  right: 55px;
}

.calendar svg{
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.calendar path {
 fill: #cacaca;
}

.calendar:hover path,
.calendar:focus path{
  fill: #000000;
}

.calendar:focus{
  outline: none;
}

.calendar:active path {
  fill: #81b3d2;
}

.search-item .adults {
  margin-right: auto;
}

.search-item label {
  width: 112px;
  text-align: left;
  padding: 6px 0;
}

label.kids-label {
  width: 65px;
}

.long-horizontal {
  padding-bottom: 30px;
  text-transform: uppercase
}

.long-horizontal input {
  text-transform: uppercase;
  padding: 0 0 0 13px;
  box-sizing: border-box;
}

.short-horizontal .adults {
  margin-right: auto;
}

.count-button {
  padding: 0;
}

.search-item input {
  width: 346px;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  line-height: 26px;
  color: black;
  font-weight: bold;
}

.search-item input::placeholder  {
  color: black;
  opacity: 1;
}

.search-item input:focus {
  outline: none;
}

.search-item button {
  width: 38px;
  height: 38px;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  font-weight: 900;
}

.search-item button:focus {
  outline: none;
}

.search-item button {
  font-size: x-large;
  color: rgb(169,169,169);
}

.search-item button:hover,
.search-item button:focus {
  color: #000000;
}

.search-item button:active {
  color: #81b3d2;
  border: none;
}

.short-horizontal {
  display: inline-flex;
  margin-bottom: 53px;
  width: 100%;
}

.short-horizontal input {
  text-align: center;
  width: 38px;
}

.into-form {
  font-size: 14px;
  line-height: 26px;
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 55px;
  display: inline-flex;
  flex-wrap: wrap
}

.into-form img {
  display: block;
}

.search-form-title {
  width: 434px;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 47px;
}

.search-button {
  width: 100%;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  border: none;
  color: #ffffff;
  background-color: #766357;
  padding: 0;
  text-transform: uppercase;
  outline: none;
}

.search-button:hover,
.search-button:focus{
  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form {
  width: 568px;
  margin: 0 auto;
}

.search-form-title h2{
  font-size: 30px;
  line-height: 36px;
  color: black;
  font-weight: bold;
  margin: 0 0 24px;
}

.search-form-title p {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.search-form-modal {
  display: none;
  text-align: center;
  background: url("../img/intro-background.png") 0 0;
  position: absolute;
  width: 568px;
  height: auto;
  margin: 0 316px;
  height: 395px;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.button {
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
  outline: none;
  padding: 0;
}

.button:hover {
  background-color: #669ec0;
}

.button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map{
  overflow: hidden;
  position: relative;
}

.map p {
  margin: 0;
}

.map img {
  display: block;
}
/*footer*/
.index .main-footer {
  bottom: 0;
  margin-top: 78px;
  position: absolute;
}

.main-footer {
  background-color: #ffffff;
  padding: 36px 0;
  opacity: 0.9;
}

.inner .main-footer {
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.main-footer .container {
  min-height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: -ms-flexbox;
}

.social-button:hover,
.social-button:focus{
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-tag {
  width: 400px;
  text-align: center;
}

.footer-tag b {
  font-size: 21px;
  line-height: 26px;
  color: black;
  font-weight: bold;
}
.footer-social {
  padding: 0;
  width: 400px;
}

.footer-social ul {
  width: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer-copyright {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-copyright span {
  font-size: 14px;
  line-height: 26px;
  color: black;
  font-weight: normal;
}
.footer-copyright svg {
  display: block;
  margin-left: 8px;
}

.footer-copyright:hover path,
.footer-copyright:focus path{
  fill: #81b3d2;
}

.footer-copyright:active path{
  fill: #bdbbbc;
}

/* страница inner*/
.filters {
  background: url("../img/filter-background.jpg") 0 0;
  background-position-y: -290px;
  padding: 27px 74px 33px 72px;
  line-height: 21px;
  text-align: left;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter legend {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 24px;
}

.filter fieldset:nth-child(1) {
  margin-right: 119px;
}

.filter fieldset:nth-child(2) {
  margin-right: auto;
}

.inner .active {
  color: #766357;
}

.up path {
  fill: #cacaca;
}

.down {
  margin-left: 8px;
}

.down path{
  fill: #81b3d2;
}

.up:hover path,
.down:hover path{
  fill: #231f20;
}

.up:active path,
.down:active path{
  fill: #81b3d2;
}

.hotel-item {
  display: flex;
  padding: 30px 0;
  list-style: none;
  height: 90px;
  padding-left: 72px;
  border-top: 1px solid #e5e5e5;
}

.hotel-item h4 {
  font-size: 21px;
  line-height: 26px;
  color: black;
  text-align: left;
  font-weight: bold;
  margin: 0;
}

.hotel-item-title {
  margin-top: -5px;
  margin-bottom: 5px;
}

.hotel-item-title:hover h4,
.hotel-item-title:focus h4 {
  color: #81b3d2;
}

.hotel-item-title:active h4 {
  color: rgba(0, 0, 0, 0.3);
}

.hotel {
  padding: 0;
  margin: 0;
}

.hotel-type {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: space-between;
}

.hotel-item-category {
  width: 110px;
}

.hotel-item-price {
  width: 142px;
}

.hotel span {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: left;
  font-weight: normal;
  margin: 0;
}

.hotel-item-button a {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.hotel-item-button {
  margin-bottom: 0px;
  margin-top: 0px;
  display: inline-flex;
  justify-content: space-between;
  width: 258px;
}

.hotel-item-button a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.style-button {
  height: 27px;
}

.detail {
  background-color: #81B3D2;
  width: 110px;
}

.detail:hover,
.detail:focus {
  background-color: #669ec0;
}

.detail:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.book {
  background-color: #766357;
  width: 142px;
}

.book:hover,
.book:focus {
  background-color: #604e43;
}

.book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.results-filters {
  display: flex;
  padding-left: 72px;
  align-items: center;
  justify-content: flex-start;
  padding-right: 73px;
  height: 86px;
}

.result-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.result-text p {
  width: 135px;
}

.results-list {
  background-image: url("../img/inner-main-background.png");
}

.page-filter {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.found-filter {
  display: flex;
  font-size: 12px;
  line-height: 18px;
}

.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 33px;
  margin-left: 40px;
}

.button-filter {
  margin-right: 33px;
}

.active-text {
  color: #81b3d2;
}

.inactive-text {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.inactive-text:not(.active-text):hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.inactive-text:not(.active-text):active {
  color: #000000;
  border-bottom: none;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 30px;
  margin-right: 73px;
  height: 90px;
}

.description-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rate {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.rate-number {
  width: 110px;
  background-color: #f2f2f2;
  height: 27px;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.into-form input:hover {
  background-color: #ebebeb;
}

.long-horizontal input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  padding: 0 0 0 11px;
}

.short-horizontal input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}

.into-form {
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

@keyframes bounce {
  0% {
    transform: translateY(-300px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}


.filter-range {
  width: 316px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  padding-top: 5px;
  cursor: pointer;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 56px;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 64px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  width: 6px;
  height: 6px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin-left: 85px;
  padding: 6px 34px 6px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
}

.filter li {
  display: flex;
  margin-bottom: 27px;
}

.filter-option {
  padding-left: 40px;
}

.filter-option:last-child {
  margin-bottom: 0;
  margin-top: -1px;
}

.filter-option label {
  position: relative;
  font-size: 14px;
  color: #ffffff;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  background-position: 0 0
}
/*для примера*/
.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-off-disabled.png");
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:disabled + label::after {
  background-image: url("../img/checkbox-on-disabled.png");
}
